* {
	font-family: arial, helvetica;
}

.header {
	background-color: #DE5255;
	display: inline-flex;
	height: 80px;
	width: 1300px;
}

#logo {
	padding-top: 10px;
	padding-bottom: 10px;
}

.name {
	padding-top: 30px;
	color: white;
	font-size: 14px;
}

ul{
	margin: 3px;
	padding-top: 5px;
}

li {
	display: inline;
	color: white;
	padding-left: 35px;
	font-size: 12px;
}

ul a:link {
	color: white;
}

ul a:visited {
	color: white;
}

ul a:hover {
	color: #DE5255 ;
}

nav {
	background-color: #868686;
	height: 35px;
	color: white;
	width: auto;
	margin: 0;
}

.images1 {
	display: inline-flex;
	width: 400px;
	margin: 0;
}

.images2 {
	display: inline-flex;
	width: 400px;
}

#developers {
	max-height: 200px;
	text-align: center;
	max-width: 260px;
	
}

#mic {
	max-height: 240px;
	text-align: center;
	max-width: 280px;
	
}

#body {
	max-height: 200px;
	text-align: center;
	max-width: 260px;
}

#kids {
	max-height: 200px;
	text-align: center;
	max-width: 260px;
}

footer{
	background-color: #DE5255;
	height: 60px;
	color: white;
	text-align: center;
	width: auto;
	}

section {
	width: auto;
}
section href:link{
	color: #DE5255;

}
section href:visited {
	color: #DE5255;
}

ul a:hover {
	color: #DE5255 ;
}
.contact h1{
	color: #DE5255  ;
}
.contact h2{
	border: solid;
	border-color:#DE5255;
	border-width: 2px;
	padding-left: 5px;

}
.contact {
	width: 330px ;
	margin: 20px;

}